@mixin shadow {
    box-shadow: 5px 5px 5px rgb(102, 102, 102);
}

@mixin menuButton {
    display: inline-block;
    background-color: #fff;
    color: $textColor;
    padding: 10px 100px;
    text-decoration: none;
    width: 100%;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 600;
    border: 1px solid #FFCCBB;
    border-radius: 10px;
    @include shadow;

    img {
        transition: 500ms;
    }

    &:hover {
        text-decoration: underline;
    }

    &.opened {
        border-radius: 10px 10px 0px 0px;
        border-bottom: none;

        img {
            transform: rotateX(180deg);
        }
    }
}

@mixin mainButton {
    // background: linear-gradient(#fff, #6EB5C0);
    background: #9be1e5;
    border-radius: 4px;
    color: $textColor;
    width: 420px;
    font-size: 26px;
    letter-spacing: 3px;
    font-weight: 700;
    border: 1px solid #FFCCBB;
}

@mixin header {
    .col-1 {
        img {
            width: 50%;
        }
    }

    .col {
        .label {
            border-bottom: 1px solid #006C84;
        }
    }

    .col-3 {
        display: flex;
        justify-content: flex-end;
        gap: 20px;

        a {
            display: flex;
            align-items: flex-end;
            
            img {
                height: 80%;
            }
        }
    }
}

@mixin items-filter {
    .col {
        border-bottom: 1px solid #000;

        .row {
            height: 100%;

            .col-3 {
                justify-content: center;

                .label {
                    @include label;
                    border-radius: 10px 10px 0px 0px;
                    border: 1px solid #000;
                    border-bottom: none;
                    font-size: 20px;
                }
            }
        }
    }
}

@mixin label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    border-radius: 10px;
    background: linear-gradient(180deg, rgb(110, 196, 199) 0%, #FFFFFF 100%);
    padding: 10px 20px;
    cursor: pointer;

    p {
        margin: 0;
        font-size: 22px;
    }
}

@mixin product {
    .image-container {
        @include shadow;
        border: 1px solid #FFCCBB;
        border-radius: 10px;
        background: #fff;
        width: 100%;
        margin: 0;

        .col-9 {
            img {
                width: 100%;
            }
        }

        .col-3 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            button {
                border: none;
                background: transparent;

                img {
                    // width: 100%;
                    height: 30px;

                    @media screen and (max-width: 992px) {
                        width: 30px;
                        position: relative;
                        right: 15px;
                    }
                }
            }
        }
    }

    h6 {
        text-align: center;
        margin: 20px 0px;
    }
}