@import "../variables";
@import "../mixins";

body {
    background: $backgroundColor;
}

.container {
    padding-top: 50px;
    min-height: 100vh;

    header {
        @include header;

        @include items-filter;
    }

    main {
        .product {
            @include product;
        }
    }
}