body {
  background: #D5EFF5;
}

.container {
  padding: 50px 0px;
  min-height: 100vh;
}

.container header {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 50px;
}

.container header .col-1 button {
  width: 66px;
  margin-right: 50px;
  border: none;
  background: none;
}

.container header .col-1 button img {
  width: 100%;
}

.container header .col-8 .label,
.container header .col-9 .label {
  border-bottom: 1px solid #006C84;
}

.container header .col-3,
.container header .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
}

.container header .col-3 button,
.container header .col-2 button {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(3, 3, 3, 0.11)), to(#ffffff));
  background: linear-gradient(0deg, rgba(3, 3, 3, 0.11), #ffffff);
  border: 1px solid #FFCCBB;
}

@media screen and (max-width: 992px) {
  .container header .col-1 button {
    width: 100%;
  }
}

.container header .col-9 {
  border-bottom: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container header .col-9 .row {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container header .col-9 .row .col-3 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container header .col-9 .row .col-3 .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border: none;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#6EB5C0), to(#FFFFFF));
  background: linear-gradient(180deg, #6EB5C0 0%, #FFFFFF 100%);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #000;
  border-bottom: none;
}

.container header .col-9 .row .col-3 .label p {
  margin: 0;
  font-size: 22px;
}

.container main .product .image-container {
  -webkit-box-shadow: 5px 5px 5px #666666;
          box-shadow: 5px 5px 5px #666666;
  border: 1px solid #FFCCBB;
  border-radius: 10px;
  background: #fff;
  width: 100%;
  margin: 0;
}

.container main .product .image-container .col-9 img {
  width: 100%;
}

.container main .product .image-container .col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container main .product .image-container .col-3 button {
  border: none;
  background: transparent;
}

.container main .product .image-container .col-3 button img {
  height: 30px;
}

.container main .product h6 {
  text-align: center;
  margin: 20px 0px;
}
/*# sourceMappingURL=provider.css.map */