@import "../variables";
@import "../mixins";

body {
    background-color: $backgroundColor;
}

.container {
    padding: 50px;
    min-height: 80vh;

    .logo {
        img {
            display: block;
            margin: auto;
            width: 532px;
        }
    }

    form {
        height: 70vh;

        input {
            // background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            border: 1px solid #FFCCBB;
            // border-radius: 10px;
            outline: none;
            // padding: 10px;
            width: 420px;
            // @include shadow;
        }

        .password {
            position: relative;

            button {
                position: absolute;
                right: 10px;
                top: 5px;
                border: none;
                background: none;
            }
        }

        a {
            color: #2b2b2b;
            text-decoration: none;
            font-weight: 500;
            font-size: 20px;
            letter-spacing: 3px;

            &:hover {
                text-decoration: underline;
            }
        }

        button.login {
            @include mainButton;
            @include shadow;
        }
    }

    .main-carousel {
        .carousel-cell {
            padding: 0px 50px;

            img {
                border-radius: 15px;
            }
        }
    }
}

footer {
    background-color: $backgroundColor;
    border-top: 1px solid rgb(134, 134, 134);
    min-height: 10vh;
    display: flex;
    align-items: center;

    main {
        width: 40%;
        margin: auto;
        text-align: center;

        p {
            color: #000;
            font-weight: 700;
        }
    }
}

@media screen and (max-width: 992px) {
    .container {
        .logo {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;

            img {
                width: 100%;
            }
        }

        form {

            input,
            div,
            button.login {
                width: 100%;
            }
        }
    }
}