@import "../variables";
@import "../mixins";

body {
    background: $backgroundColor;
}

.container {
    padding: 50px 0px;
    min-height: 100vh;

    header {
        @include header;
    }

    main {
        .items {
            .cart-item {
                padding: 20px 0px;
                border-bottom: 1px solid #000;

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}