body {
  background-color: #D5EFF5;
}

.container {
  padding: 50px 0px;
  min-height: 100vh;
}

.container header {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 50px;
}

.container header .col-1:nth-child(1),
.container header .col-2:nth-child(1),
.container header .col-3:nth-child(1) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container header .col-1:nth-child(1) button,
.container header .col-2:nth-child(1) button,
.container header .col-3:nth-child(1) button {
  width: 66px;
  border: none;
  background: none;
}

.container header .col-1:nth-child(1) button img,
.container header .col-2:nth-child(1) button img,
.container header .col-3:nth-child(1) button img {
  width: 100%;
}

.container header .col-8 .label,
.container header .col-9 .label,
.container header .col-10 .label {
  border-bottom: 1px solid #006C84;
}

.container header .col-3,
.container header .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
}

.container header .col-3 button,
.container header .col-2 button {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(3, 3, 3, 0.11)), to(#ffffff));
  background: linear-gradient(0deg, rgba(3, 3, 3, 0.11), #ffffff);
  border: 1px solid #FFCCBB;
}

@media screen and (max-width: 992px) {
  .container header .col-1:nth-child(1) button,
  .container header .col-3:nth-child(1) button {
    margin: 0 !important;
  }
  .container header .col-1:nth-child(1) button img,
  .container header .col-3:nth-child(1) button img {
    width: 100%;
  }
}

.container main .col-lg-6:nth-child(1) .row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container main .col-lg-6:nth-child(1) .row .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container main .col-lg-6:nth-child(1) .row .description input,
.container main .col-lg-6:nth-child(1) .row .description textarea {
  width: 80%;
}

.container main .col-lg-6:nth-child(1) .row .description input {
  margin-bottom: 50px;
  padding: 5px;
}

.container main .col-lg-6:nth-child(2) form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container main .col-lg-6:nth-child(2) form input {
  width: 50%;
  padding: 5px 20px;
}

@media screen and (max-width: 992px) {
  .container .col-lg-6:nth-child(1) {
    margin-bottom: 50px;
  }
  .container .col-lg-6:nth-child(1) .row {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .container .col-lg-6:nth-child(1) .row .description {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .container .col-lg-6:nth-child(1) .row .description input,
  .container .col-lg-6:nth-child(1) .row .description textarea {
    width: 90% !important;
  }
  .container .col-lg-6:nth-child(2) form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .col-lg-6:nth-child(2) form input {
    width: 90% !important;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=place_item.css.map */