@import "../variables";
@import "../mixins";

body {
    background: $backgroundColor;
}

.container {
    padding: 50px 0px;
    min-height: 100vh;

    header {
        @include header;

        .col {
            display: flex;
            align-items: flex-end;

            .row {
                width: 100%;
                justify-content: space-between;

                form {
                    position: relative;

                    img {
                        position: absolute;
                        top: 20px;
                        left: 20px;
                        width: 30px;
                    }

                    input {
                        background: none;
                        border: none;
                        border-bottom: 1px solid #000;
                        width: 100%;
                        padding: 10px 50px;
                        font-size: 30px;
                    }
                }
            }
        }
    }

    main {
        .product {
            @include product;
        }

        @media screen and (max-width: 992px) {
            justify-content: center;

            .col-lg-3 {
                width: 100%;
                padding: 0;

                .product {
                    padding: 0px 30px;
                }
            }
        }
    }
}