@import "../variables";
@import "../mixins";

body {
    background: $backgroundColor;
}

.container {
    padding: 50px 0px;
    min-height: 100vh;

    header {
        @include header;
        @include items-filter;


        .col-2 {
            button {
                @include mainButton;
                width: 100% !important;
                height: 100%;
                font-weight: 500;
                font-size: 20px;
            }
        }
    }

    main {
        table {
            width: 100%;

            th,
            td {
                border-right: 1px solid #8a8a8a;
                padding: 0px 5px;

                &:last-child {
                    border-right: none;
                }
            }

            tr:nth-child(even) {
                background-color: #D6EEEE;
            }
        }
    }
}