@import "../variables";
@import "../mixins";

body {
    background-color: $backgroundColor;
}

.container {
    padding: 50px;
    min-height: 80vh;

    header {
        @include header;

        .col-3 {
            button {
                border: none;
                background: none;
                display: flex;
                align-items: flex-end;
                position: relative;
                top: 8px;

                img {
                    height: 80%;
                }
            }

            .dropdown {
                ul {
                    list-style: none;
                    padding: 0px 10px;

                    li {
                        border-bottom: 1px solid #000;
                        padding: 10px;

                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }

    main {
        .col-lg-6:nth-child(1) {
            .menu {

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        a {
                            @include menuButton;
                        }
                    }
                }
            }
        }

        .col-lg-6:nth-child(2) {

            .ad {
                min-height: 70%;
                display: flex;
                justify-content: center;
                align-items: center;

                .main-carousel {
                    width: 100%;
                    height: 100% !important;

                    .carousel-cell {
                        width: 100%;
                        background-color: #fff;
                        text-align: center;
                    }
                }
            }
        }
    }


}

@media screen and (max-width: 992px) {
    .container {
        .row {
            flex-direction: column-reverse;

            .col-lg-6:nth-child(2) {
                margin-bottom: 50px;
            }
        }
    }
}