body {
  background-color: #f3f3f3;
}

.container {
  padding: 50px;
  min-height: 80vh;
}

.container header .col-1 img {
  width: 50%;
}

.container header .col .label {
  border-bottom: 1px solid #006C84;
}

.container header .col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
}

.container header .col-3 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container header .col-3 a img {
  height: 80%;
}

.container header .col-3 button {
  border: none;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  top: 8px;
}

.container header .col-3 button img {
  height: 80%;
}

.container header .col-3 .dropdown ul {
  list-style: none;
  padding: 0px 10px;
}

.container header .col-3 .dropdown ul li {
  border-bottom: 1px solid #000;
  padding: 10px;
}

.container header .col-3 .dropdown ul li:last-child {
  border-bottom: none;
}

.container main .col-lg-6:nth-child(1) .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container main .col-lg-6:nth-child(1) .menu ul li a {
  display: inline-block;
  background-color: #fff;
  color: #2b2b2b;
  padding: 10px 100px;
  text-decoration: none;
  width: 100%;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 600;
  border: 1px solid #FFCCBB;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px #666666;
          box-shadow: 5px 5px 5px #666666;
}

.container main .col-lg-6:nth-child(1) .menu ul li a img {
  -webkit-transition: 500ms;
  transition: 500ms;
}

.container main .col-lg-6:nth-child(1) .menu ul li a:hover {
  text-decoration: underline;
}

.container main .col-lg-6:nth-child(1) .menu ul li a.opened {
  border-radius: 10px 10px 0px 0px;
  border-bottom: none;
}

.container main .col-lg-6:nth-child(1) .menu ul li a.opened img {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.container main .col-lg-6:nth-child(2) .ad {
  min-height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container main .col-lg-6:nth-child(2) .ad .main-carousel {
  width: 100%;
  height: 100% !important;
}

.container main .col-lg-6:nth-child(2) .ad .main-carousel .carousel-cell {
  width: 100%;
  background-color: #fff;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .row .col-lg-6:nth-child(2) {
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=menu.css.map */